@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
  
}
.card{
    height:490px;
    width: 300px;
    background-color: hsl(216, 50%, 16%);
    margin-left: 530px;
    margin-top: 70px;
    border-radius: 3mm;
     
}
.shape{
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.first{
    position: relative;
}
.one{
    height :250px;
    width: 260px;
    border-radius: 2mm;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: .5s ease;
    
}
.two{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}
.first:hover .one {
    
    opacity: 0.3;
}
  
.first:hover .two {
    
    opacity: 1;
}
.discription h3{
    color: white;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 18px;
}
h3:hover{
    cursor: pointer;
    color: cyan;
    
}

.discription p{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    margin-bottom: 20px;
}
.base{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.base1{
    color: cyan;
    margin-right: 70px;
}
.base2{
    color: hsl(215, 51%, 70%);
}
.last img{
    margin-top: 15px;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 9mm;
    
}
.last{
    display: flex;
    justify-content: flex-start;
}
.onemore{
    color: hsl(215, 51%, 70%);
    margin-top: 20px;
    margin-left: 15px;
    font-weight: 300;
    font-size: small;
}
.onemore span{
    color: white;
}
.sp:hover {
    cursor: pointer;
    color:cyan;
}
.line{
    color: hsl(215, 32%, 27%);
}
@media screen and (max-width: 900px)
{
  .card{
      flex-wrap: wrap;
  }

}
